* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

h1, h2, h3, p {
	margin: 5px 0;
}

header {
	color: #00629E;
	margin: 20px 0;
	margin-bottom: 10px;
}

header h1 {
	display: inline;
}

header a {
	text-decoration: none;
	color: inherit;
}

header #podnaslov {
	display: inline;
	margin-left: 10px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #DDD;
	background-color: rgba(0, 0, 255, .3);
}

nav a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	color: inherit;
}

nav a.active {
	background-color: rgba(0, 0, 0, .12);
}

nav a:hover {
	background-color: rgba(0, 0, 0, .12);
}

#flexbox {
	display: flex;
}

aside {
	background-color: rgba(255, 0, 0, .3);
	margin: 10px;
	padding: 10px;
	min-width: 200px;
}

main {
	background-color: rgba(0, 255, 0, .3);
	flex: 1;
	margin: 10px;
	padding: 10px;
}

footer {
	padding: 10px;
	color: #BBB;
	text-align: center;
}

@media(max-width: 400px) {
	#flexbox {
		flex-direction: column;
	}
}
