* {
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 900px;
	margin: 0 auto;
	color: #787878;
	font-size: 12px;
}

h1, h2, h3, #podnaslov {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.6em;
}

header {
	color: #00629E;
	margin-bottom: 10px;
}

header #logo {
	margin: 20px 0;
}

header h1 {
	display: inline;
}

#podnaslov {
	display: inline;
	margin-left: 10px;
	font-style: italic;
}

header h1 > a {
	color: inherit;
	text-decoration: none;
}

nav {
	width: 100%;
	height: 50px;
	background: -moz-linear-gradient(top, #005C99 0, #0195C5 100%);
	background: -moz-linear-gradient(top, #005a98 0%, #0195c5 80%, #e0e0e0 80%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #005a98 0%, #0195c5 80%, #e0e0e0 80%, #ffffff 100%);
}

nav .levo {
	display: inline-block;
}

nav .levo a {
	margin-right: -4px;
}

nav .desno {
	float: right;
}

nav a {
	font-size: 13px;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

nav .icon {
	padding: 3px;
	height: 44px;
}

nav .icon > img {
	height: 44px;
}

main {
	float: left;
	margin: 10px;
	width: calc(100% - 240px);
}

aside {
	float:left;
	width: 200px;
	margin: 10px;
}

h2 {
	color: white;
	margin: 0;
	height: 50px;
	padding: 10px;
}

aside > h2 {
	background: -moz-linear-gradient(top, #658C00 0, #9EBD00 100%);
	background: -moz-linear-gradient(top, #658C00 0, #9EBD00 80%, #e0e0e0 80%, #ffffff 100%);
}

article > :not(h2) {
	margin-left: 20px;
	margin-right: 20px;
}

article > h2 {
	width: 100%;
	background: -moz-linear-gradient(top, #D64809 0, #E9851D 100%);
	background: -moz-linear-gradient(top, #D64809 0, #E9851D 80%, #e0e0e0 80%, #ffffff 100%);
}

footer {
	clear: both;
	padding: 20px;
	font-size: 10px;
	color: #E1F5A6;
	background-color: #474036;
	text-align: center;
}