html {
	font-family: Verdana Helvetica, sans-serif;
}

body {
	width: 1250px;
	margin: 0 auto;
}

header > #logo {
	text-align: center;
}

header > #logo > a {
	font-family: Arial Black, Arial, sans-serif;
	color: #000;
	font-size: 30pt;
	text-decoration: none;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #DDD;
}

nav .levo {
	display: inline-block;
}

nav .levo a {
	margin-right: -4px;
}

nav .desno {
	float: right;
}

nav a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	color: #444;
}

nav a.active {
	background-color: #CCC;
	color: #333;
}

nav a:hover {
	background-color: #CCC;
}

nav .icon {
	padding: 3px;
	height: 44px;
}

nav .icon > img {
	height: 44px;
}

main {
	background-color: #EEE;
	padding: 10px;
	margin-top: 10px;
}

figure {
	display: inline-block;
	margin: 25px;
}

figure > img {
	box-shadow: 5px 5px 10px #444;
	margin: 10px;
}

figcaption {
	text-align: center;
}

#jaz {
	float: left;
	margin-top: 0;
}

#jaz > img {
	height: 300px;
}

footer {
	padding: 10px;
	color: #BBB;
	text-align: center;
}