* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Helvetica Neue, Verdana, Arial, sans-serif;
	background-color: #AAAAFF;
}

body {
	max-width: 1000px;
	min-height: 500px;
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 0 5px;
}

@media(max-width: 1200px) {
	body {
		/*max-width: 800px;*/
		max-width: calc(100% - 200px);
	}
}

p {
	margin-bottom: 15px;
}

#portrait {
	width: 160px;
	height: 230px;
	border: 10px white solid;
	outline: 2px black;
	box-shadow: 0 0 5px black;
	margin-top: -50px;
	background-color: #AAA;
	padding: 1px;
}

@media(max-width: 840px) {
	body {
		max-width: calc(100% - 100px);
	}
	header {
		text-align: center;
	}
}

@media(max-width: 470px) {
	body {
		max-width: 100%;
		margin-top: 0;
	}
}

@media(min-width: 841px) {
	#portrait {
		margin-left: -50px;
		float: left;
		margin-right: 25px;
	}
}

header {
	/*max-width: calc(100% - 132px - 160px);*/
}

#title {
	font-size: 40px;
	font-variant: small-caps;
	margin-bottom: 5px;
	padding-top: 20px;
}

#description {
	color: #555;
	font-style: italic;
	margin-bottom: 15px;
}

#social > a > img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	/*background-color: #F99;*/
}

nav {
	width: 160px;
	height: 170px;
	font-size: 15px;
	margin: 10px 0;
	float: right;
}

nav > a {
	height: 40px;
	display: block;
	text-transform: uppercase;
	color: #777;
	text-align: right;
	text-decoration: none;
	padding: 15px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 0;
	box-sizing: border-box;
}

nav > a.active {
	background-color: #AAAAFF;
	/*width: 175px;
	padding-right: 40px;
	box-shadow: 0 0 5px black;*/
}

nav > a:hover {
	background-color: #AAAAFF;
}

main {
	clear: both;
	padding: 15px;
}

#vsebina {
	display: none;
}